<script>
  	window.fbAsyncInit = function() {
    	FB.init({
      	    appId      : '369561610043985',
      	    xfbml      : true,
      	    version    : 'v2.7'
        });
  	};

  	(function(d, s, id){
    	 var js, fjs = d.getElementsByTagName(s)[0];
    	 if (d.getElementById(id)) {return;}
    	 js = d.createElement(s); js.id = id;
    	 js.src = "//connect.facebook.net/en_US/sdk.js";
    	 fjs.parentNode.insertBefore(js, fjs);
   	}(document, 'script', 'facebook-jssdk'));
</script>

<div id="message">
    <h1>Welcome to our trip planner</h1>
    <p>Please login with facebook to continue</p>
    <ul>
		<li><fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button></li>
    </ul>
</div>
