@import "values"

$break_small: 450px
$break_large: 1200px

body
  font-family: 'Quattrocento Sans', sans-serif
  /* border-top: 20px solid white */
  /* color: $ftr_font_color */
  background-color: $ftr_bg_color_light
  @media screen and (min-width: $break_small) 
    background-color: $ftr_bg_color_light
  @media screen and (min-width: $break_large)

#main-form input
  color: #000

#main-form input[type='submit']
  display: block
  width: 100%

header
  margin: 0 auto
  background-color: $ftr_bg_color

footer
  padding: 20px 0
  margin: 0 auto

.info
  padding: 20px 10px
  font-size: 1.4em
  text-align: center

.logo
  padding: 20px 0
  display: block
  margin: 0 auto

.centered
  text-align: center

.content
  padding: 0 20px
  margin: 0 10px
  background-color: $ftr_bg_color_light
